<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Let's Collaborate</title>
    <link rel="stylesheet" href="assets/foundation.css" />
    <script src="/assets/modernizr.js"></script>
  </head>
  <body>

    <div class="row">
      <div class="large-12 columns">
        <h1><strong>Questions and Answers</strong></h1>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
      	<div class="panel">
          <h3>A collaborative Q&A site built with Rails 4 and Foundation</h3>
          <p><strong>Sign in and look over the questions!</strong></p>

        </div>
      </div>
    </div>

    <script src="/assets/jquery.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
